<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask API Preview</title>
</head>
<body>
    <h1>Flask API</h1>
    <h3>Endpoints</h3>
    <dl>
        <dt>[GET] /game/</dt>
        <dd>List all games</dd>
        <dt>/game/&lt;id&gt;</dt>
        <dd>Show details of a game</dd>
        <dt>[GET] /publisher/</dt>
        <dd>List all publishers</dd>
        <dt>/publisher/&lt;id&gt;</dt>
        <dd>Show details of a publisher</dd>
        <dt>[GET] /genre/</dt>
        <dd>List all genres</dd>
        <dt>/genre/&lt;id&gt;</dt>
        <dd>Show details of genre</dd>
    </dl>
</body>
</html>